import React from 'react';

export default function Layout({
  children,
}: {
  children: React.ReactNode;
}) {
  return (
    <div className="layout-container">
      {/* Add layout elements here */}
      {children}
    </div>
  );
}